## ロジスティック回帰
- 実際のデータを使ってロジスティック回帰を行う

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import log_loss, accuracy_score, confusion_matrix
from sklearn.preprocessing import StandardScaler

### 1. データの読み込み

In [2]:
df_house = pd.read_csv("../1_data/kc_house_data.csv")[['yr_renovated', 'sqft_living', 'sqft_lot', 'sqft_above', 'yr_built', 'sqft_living15', 'sqft_lot15']]
df_house['yr_renovated'] = df_house['yr_renovated'] > 0 

# 先程と似た中古住宅のデータ
display(df_house.head())
df_house.describe()

,yr_renovated,sqft_living,sqft_lot,sqft_above,yr_built,sqft_living15,sqft_lot15
0,False,1180,5650,1180,1955,1340,5650
1,True,2570,7242,2170,1951,1690,7639
2,False,770,10000,770,1933,2720,8062
3,False,1960,5000,1050,1965,1360,5000
4,False,1680,8080,1680,1987,1800,7503

,sqft_living,sqft_lot,sqft_above,yr_built,sqft_living15,sqft_lot15
count,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000
mean,2079.899736,1.510697e+04,1788.390691,1971.005136,1986.552492,12768.455652
std,918.440897,4.142051e+04,828.090978,29.373411,685.391304,27304.179631
min,290.000000,5.200000e+02,290.000000,1900.000000,399.000000,651.000000
25%,1427.000000,5.040000e+03,1190.000000,1951.000000,1490.000000,5100.000000
50%,1910.000000,7.618000e+03,1560.000000,1975.000000,1840.000000,7620.000000
75%,2550.000000,1.068800e+04,2210.000000,1997.000000,2360.000000,10083.000000
max,13540.000000,1.651359e+06,9410.000000,2015.000000,6210.000000,871200.000000

### 2. [演習] Scikit-learnを用いてロジスティック回帰を実装してみましょう
- yr_renovatedが1になるかどうかを予測してみましょう
- 学習後の重みw0, w1, ..., w6を表示してみましょう
- 実際に予測してみて，対数尤度・正答率を表示してみましょう
- 最後に正解と予測値のクロス集計の結果を表示してみましょう

In [ ]:
y = df_house["yr_renovated"].values
X = df_house.drop('yr_renovated', axis=1).values

# 各特徴量を平均0，分散1となるような前処理（標準化，詳しくはDAY2にて）を施すためのクラス
# 今回のデータセットは特徴量の平均や分散がそれぞれで大きく異なるため，標準化をしないとリノベーション済み物件が１件も当てられないことが事前検証でわかっている
std_scaler = StandardScaler() 

# fit_transform関数で標準化した特徴量X_scaledを得る
# 以降はX_scaledをモデルの学習等に使う
X_scaled = std_scaler.fit_transform(X)

##### 以降は自分で実装しましょう #####